@keyframes animateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateBubbles {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}
@keyframes progress {
  from {
    stroke-dasharray: var(--stroke-dashoffset) 900;
  }
  to {
    stroke-dasharray: 900 900;
  }
}
@keyframes hoverCards {
  from {
    will-change: transform;
    transform: translate3d(48px, 48px, 0px);
  }
  to {
    transform: translate3d(1px, 1px, 0px);
  }
}
@keyframes addCards {
  from {
    will-change: transform, opacity;
    transform: scale3d(0.85, 0.85, 0);
    opacity: 0;
  }
  to {
    transform: scale3d(1, 1, 0);
    opacity: 1;
  }
}