@keyframes slideInFromLeft {
  0% {
    will-change: transform;
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    will-change: transform;
    transform: translateX(100%);
  }
  .1% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
    opacity: 1;
  }
}
@keyframes animateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animateLeftToRightText {
  0% {
    opacity: 0;
    visibility: hidden;
    will-change: transform;
    transform: translate3d(-200px, 0px, 0px);
    transform-style: preserve-3d;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 0.9;
    transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    opacity: 1;
  }
}
@keyframes rotateBubbles {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}
@keyframes rotateBubblesCertificates {
  0% {
    transform: rotate(0deg) translate(-100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-100px) rotate(-360deg);
  }
}
@keyframes progress {
  from {
    stroke-dasharray: var(--stroke-dashoffset) 900;
  }
  to {
    stroke-dasharray: 900 900;
  }
}
@keyframes expandBlocks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hoverCards {
  from {
    will-change: transform;
    transform: translate3d(48px, 48px, 0px);
  }
  to {
    transform: translate3d(1px, 1px, 0px);
  }
}
@keyframes expandBlocksClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}