@keyframes slideInFromLeft {
    0% {
      will-change: transform;
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes slideInFromRight {
    0% {
        will-change: transform;
        transform: translateX(100%);
    }
    .1%{
        opacity: 1;
      }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

 
@keyframes animateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateBubbles {
    0%{
        transform:rotate(0deg)
                  translate(-165px)
                  rotate(0deg);
      
      }
    100%{
    transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
}

@keyframes progress {
    from {
        stroke-dasharray: var(--stroke-dashoffset) 900;
      }
    to {
        stroke-dasharray: 900 900;
    }
}

@keyframes hoverCards {
    from {
        will-change: transform;
        transform: scale3d(1,1,1);
    }
    to {
        transform: scale3d(1.02,1.02,1);
    }
}

@keyframes hoverCardsArrow {
    from {
        will-change: transform;
        transform: translate3d(48px, 48px, 0px);
    }
    to {
        transform: translate3d(1px, 1px, 0px);
    }
}
