.business {
    box-sizing: border-box;
    padding: 120px 270px;
    width: 100%;
    height: 745px;
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-image: url(../img/bg_business.png);
    background-position: fixed;
    background-repeat: no-repeat;
    &__form {
        display: flex;
        flex-direction: column;

        &__input-data {
            box-sizing: border-box;
            padding: 2px;
            position: relative;
            border-radius: 6px;
            margin-top: 30px;
        }

        &__label {
            position: absolute;
            font-size: 20px;
            width: 50%;
            height: 50%;
            pointer-events: none;
            padding: 10px 0;
            z-index: 3;
            transition: 0.2s;
        }

        .border {
            position: absolute;
            content: '';
            height: 50%;
            top: 0;
            left: 0;
            width: 0%;
            height: 0%;
            background: #ee4f86;
            transition: height 0.3s, width 0.3s 0.1s;
            border-radius: 5px;
        }

        &__input, &__textarea {
            box-sizing: border-box;
            display: block;
            width: 100%;
            background-color: #181823;
            border: none;
            font-size: 17px;
            letter-spacing: 1px;
            cursor: pointer;
            position: relative;
            outline: none;
            border-radius: 5px;
            padding: 10px 10px;
            z-index: 2;
        }

        &__input {
            height: 50px;

            &[value=""] ~ .business__form__label
            &:not(:focus) ~ .business__form__label,
            & ~ .business__form__label {
                top: 8%;
                left: 2%;
            }

            &:focus ~ .business__form__label,
            &:not([value=""]) ~ .business__form__label {
                top: -65%;
                text-shadow: rgb(236, 91, 236) 1px 0 4px;
                font-size: 20px;
            }

            
            &:focus ~ .border {
                width: 100%;
                height: 100%;
            }

            & ~ .border {
                width: 0%;
                height: 0%;

            }
        }

        &__textarea {
            height: 100px;
            resize: none;

            &:focus ~ .border{
                width: 100%;
                height: 100%;
            }

            :not(:focus) ~ .business__form__label,
            &[value=""] ~ .business__form__label,
            & ~ .business__form__label {
                top: 8%;
                left: 2%;
                resize: none;
            }

            &:focus ~ .business__form__label,
            &:not([value=""]) ~ .business__form__label {
                top: -36%;
                left: 2%;
                resize: none;
                text-shadow: rgb(236, 91, 236) 1px 0 4px;
                font-size: 20px;
                resize: none;
            }
            & ~ .octavalidate-txt-error {
                top: -25%;
            }
        }
    }

    .subtitle {
        text-transform: none;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            cursor: pointer;
            width: 60%;
            margin-top: 30px;
            border: none;
            background: #5221E6;
            height: 75px;
        }
    }
}

.octavalidate-txt-error {
    position: absolute;
    z-index: 3;
    top: -53%;
    right: 0;
    color: red !important;
    margin: 6px 0px 0px 8px !important;
    transition: 0.5s;
}

