.diplomas {
    margin-top: 100px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 250px;
    scroll-snap-align: center;
    &::after {
        @include dipomasBorder;
        background-image: conic-gradient(transparent, transparent, transparent, #FB37FF);
        animation: animateBorder 4s linear infinite;
        animation-delay: -2s;
    }

    &::before {
        @include dipomasBorder;
        background-image: conic-gradient(transparent, transparent, transparent, #18B2DE);
        animation: animateBorder 4s linear infinite;
    }

    &__bg {
        position: absolute;
        inset: 5px;
        border-radius: 25px;
        background: #0c1022;
        z-index: 1;
    }

    &__container {
        position: relative;
        height: 600px;
        padding: 50px 70px 30px 100px;
        z-index: 2;
    }

    &__list {
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }

    &__certificates {
        color: #18B2DE;
        cursor: pointer;
        text-decoration: underline;
    }

    &-item {
        opacity: 0;
        visibility: hidden;
        &__number {
            font-weight: 400;
            font-size: 117px;
            line-height: 120%;
            color: #8491A0;
        }

        &__title {
            margin-bottom: 5px;
            font-size: 24px;
            &_green {
                color: #3CC74E;
            }
            &_violet {
                color: #5221E6;
            }
            &_pink {
                color: #E95D90;
            }
        }
        
        &__descr {
            font-size: 18px;
        }
    }
}

.active {
    animation: animateLeftToRightText 1s ease-in-out;
    animation-fill-mode: forwards;
}