.main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    column-gap: 100px;
    // scroll-snap-align: start;
    grid-template-columns: 740px 1fr;
    &__bg {
        z-index: -1;
        :nth-child(1) {
            position: absolute;
            top: 20%;
            right: 2%;
            width: 631.42px;
            height: 255.37px;
            background: #FE3CB9;
            filter: blur(150px);
            transform: matrix(0.87, 0.54, -0.47, 0.86, 0, 0);
            animation: rotateBubbles 50s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
            transition: all 0.25s ease-out;
        }
        :nth-child(2) {
            position: absolute;
            right: 8.12%;
            top: 52.63%;
            width: 1094.78px;
            height: 317.72px;
            background: #793AFF;
            filter: blur(150px);
            transform: matrix(0.97, -0.22, 0.22, 0.98, 0, 0);
            animation: rotateBubbles 50s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
            transition: all 0.25s ease-out;
        }
        :nth-child(3) {
            position: absolute;
            right: 34.82%;
            top: 19.52%;
            width: 535.13px;
            height: 323.51px;
            background: #69FFFF;
            filter: blur(150px);
            transform: matrix(0.8, -0.62, 0.6, 0.79, 0, 0);
            animation: rotateBubbles 50s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
            transition: all 0.25s ease-out;
        }
    }

    &__img {
        position: absolute;
        z-index: 2;
        margin-top: 150px;
        margin-left: 20px;
        width: 701px;
        height: 661px;
        img {
            display: block;
        }
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }

    &__imgbg {
        z-index: -1;
        position: absolute;
        top: 0%;
        left: 1%;
        img {
            display: block;
        }
    }
    
    &__about {
        width: 100%;
        height: 100vh;
        padding-top: 150px;
    }

    &__info {
        div {
            opacity: 0;
            animation-name: slideInFromRight;
            animation-duration: 1s; 
            animation-delay: 0s;
            animation-fill-mode: forwards;
            &:last-child {
                opacity: 0;
                animation-delay: 0.2s;
            }
        } 
    }


    &__hello {
        img {
            display: block;
        }
    }

    &__im {
        margin-top: -43px;
        margin-left: 120px;
        font-weight: 700;
        font-size: 24px;
    }

    &__name {
        margin-top: 5px;
        margin-bottom: 35px;
        font-weight: 700;
        font-size: 55px;
        white-space: nowrap;
    }

    &__dev {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);    
        margin-bottom: 35px;
        font-weight: 700;
        font-size: 24px;
        color: #5221E6;
        white-space: nowrap;
    }

    .anim-typewriter{
        animation: typewriter 4s steps(44) 1s 1 normal both;
    }

    &__descr {
        font-weight: 400;
        font-size: 18px;
        white-space: nowrap;
        line-height: 150%;
    }

    &__links {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-tg{
            position: relative;
            &::before {
                @include mainBorder;
                margin-top: -16px;
                margin-left: -18px;
                background:  linear-gradient(132.33deg, #D24074 -0.67%, #6518B4 102.54%);
                -webkit-mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude; 
            }
        }

        &-link{
            position: relative;
            &::before {
                @include mainBorder;
                margin-top: -14px;
                margin-left: -17px;
                background: linear-gradient(45.4deg, #F4426C 6.41%, #FBF2B1 98.99%);
                -webkit-mask: 
                   linear-gradient(#fff 0 0) content-box, 
                   linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude; 
            }
        }

        &-git{
            position: relative;
            &::before {
                @include mainBorder;
                margin-top: -15px;
                margin-left: -16px; 
                background: linear-gradient(135deg, #6964DE 2.88%, #FCA6E9 100%);
                -webkit-mask: 
                   linear-gradient(#fff 0 0) content-box, 
                   linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude; 
            }
        }

        &-mail{
            position: relative;
            &::before {
                @include mainBorder;
                margin-top: -22px;
                margin-left: -17px;
                background:  linear-gradient(51.06deg, #9358F7 0.87%, #10D7E2 97.48%);
                -webkit-mask: 
                   linear-gradient(#fff 0 0) content-box, 
                   linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude; 
            }
        }
    }

}