@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
body {
  background-color: #000;
}

* {
  font-family: "Sen", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.header {
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
}
.header__tabs {
  position: relative;
  width: 410px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  padding: 5px;
  font-weight: 700;
  font-size: 65px;
  background: linear-gradient(89.81deg, #9845E8 -18.28%, #33D2FF 80.78%, #DD5789 33.7%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.header__tab {
  padding: 32px 24px;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
}
.header__tab a {
  text-decoration: none;
}
.header__tab:last-child {
  background: #5221E6;
}

.main {
  position: relative;
}
.main__bg img {
  display: block;
}
.main__bg :nth-child(1) {
  position: absolute;
  right: -0.78%;
  top: 6.09%;
  width: 631.42px;
  height: 255.37px;
  background: #FE3CB9;
  filter: blur(150px);
  transform: matrix(0.87, 0.54, -0.47, 0.86, 0, 0);
}
.main__bg :nth-child(2) {
  position: absolute;
  right: -1.12%;
  top: 26.63%;
  width: 1094.78px;
  height: 317.72px;
  background: #793AFF;
  filter: blur(150px);
  transform: matrix(0.97, -0.22, 0.22, 0.98, 0, 0);
}
.main__bg :nth-child(3) {
  position: absolute;
  right: 26.82%;
  top: 7.52%;
  width: 535.13px;
  height: 323.51px;
  background: #69FFFF;
  filter: blur(150px);
  transform: matrix(0.8, -0.62, 0.6, 0.79, 0, 0);
}