@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
body {
  background-color: #000;
}

* {
  font-family: "Sen", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.wrapper {
  width: 100%;
  position: relative;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

@keyframes animateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateBubbles {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}
@keyframes progress {
  from {
    stroke-dasharray: var(--stroke-dashoffset) 900;
  }
  to {
    stroke-dasharray: 900 900;
  }
}
.header {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__tabs {
  position: relative;
  width: 410px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  margin-left: 20px;
  font-weight: 700;
  font-size: 65px;
  background: linear-gradient(89.81deg, #9845E8 -18.28%, #33D2FF 80.78%, #DD5789 33.7%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.header__tab {
  padding: 32px 24px;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
}
.header__tab a {
  text-decoration: none;
}
.header__tab:last-child {
  background: #5221E6;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  column-gap: 100px;
  scroll-snap-align: start;
  grid-template-columns: 740px 1fr;
}
.main__bg {
  z-index: -1;
}
.main__bg :nth-child(1) {
  position: absolute;
  top: 20%;
  right: 2%;
  width: 631.42px;
  height: 255.37px;
  background: #FE3CB9;
  filter: blur(150px);
  transform: matrix(0.87, 0.54, -0.47, 0.86, 0, 0);
  animation: rotateBubbles 50s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  transition: all 0.25s ease-out;
}
.main__bg :nth-child(2) {
  position: absolute;
  right: 8.12%;
  top: 52.63%;
  width: 1094.78px;
  height: 317.72px;
  background: #793AFF;
  filter: blur(150px);
  transform: matrix(0.97, -0.22, 0.22, 0.98, 0, 0);
  animation: rotateBubbles 50s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  transition: all 0.25s ease-out;
}
.main__bg :nth-child(3) {
  position: absolute;
  right: 34.82%;
  top: 19.52%;
  width: 535.13px;
  height: 323.51px;
  background: #69FFFF;
  filter: blur(150px);
  transform: matrix(0.8, -0.62, 0.6, 0.79, 0, 0);
  animation: rotateBubbles 50s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  transition: all 0.25s ease-out;
}
.main__img {
  position: absolute;
  z-index: 2;
  margin-top: 150px;
  margin-left: 20px;
  width: 701px;
  height: 661px;
}
.main__img img {
  display: block;
}
.main__imgbg {
  z-index: -1;
  position: absolute;
  top: 0%;
  left: 1%;
}
.main__imgbg img {
  display: block;
}
.main__about {
  width: 100%;
  height: 100vh;
  padding-top: 150px;
}
.main__hello img {
  display: block;
}
.main__im {
  margin-top: -43px;
  margin-left: 120px;
  font-weight: 700;
  font-size: 24px;
}
.main__name {
  margin-top: 5px;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 55px;
  white-space: nowrap;
}
.main__dev {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 24px;
  color: #5221E6;
  white-space: nowrap;
}
.main__descr {
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
  line-height: 150%;
}
.main__links {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__links-tg {
  position: relative;
}
.main__links-tg::before {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  width: 67px;
  height: 65px;
  inset: 0;
  border-radius: 8px;
  padding: 4.45px;
  margin-top: -16px;
  margin-left: -18px;
  background: linear-gradient(132.33deg, #D24074 -0.67%, #6518B4 102.54%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.main__links-link {
  position: relative;
}
.main__links-link::before {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  width: 67px;
  height: 65px;
  inset: 0;
  border-radius: 8px;
  padding: 4.45px;
  margin-top: -14px;
  margin-left: -17px;
  background: linear-gradient(45.4deg, #F4426C 6.41%, #FBF2B1 98.99%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.main__links-git {
  position: relative;
}
.main__links-git::before {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  width: 67px;
  height: 65px;
  inset: 0;
  border-radius: 8px;
  padding: 4.45px;
  margin-top: -15px;
  margin-left: -16px;
  background: linear-gradient(135deg, #6964DE 2.88%, #FCA6E9 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.main__links-mail {
  position: relative;
}
.main__links-mail::before {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  width: 67px;
  height: 65px;
  inset: 0;
  border-radius: 8px;
  padding: 4.45px;
  margin-top: -22px;
  margin-left: -17px;
  background: linear-gradient(51.06deg, #9358F7 0.87%, #10D7E2 97.48%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.diplomas {
  margin-top: 100px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 250px;
  scroll-snap-align: start;
  scroll-snap-align: center;
}
.diplomas::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 450%;
  top: -175%;
  left: -10%;
  background-image: conic-gradient(transparent, transparent, transparent, #FB37FF);
  animation: animateBorder 4s linear infinite;
  animation-delay: -2s;
}
.diplomas::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 450%;
  top: -175%;
  left: -10%;
  background-image: conic-gradient(transparent, transparent, transparent, #18B2DE);
  animation: animateBorder 4s linear infinite;
}
.diplomas span {
  position: absolute;
  inset: 5px;
  border-radius: 25px;
  background: #0c1022;
  z-index: 1;
}
.diplomas__container {
  position: relative;
  height: 600px;
  padding: 50px 70px 30px 100px;
  z-index: 2;
}
.diplomas__list {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.diplomas-item__number {
  font-weight: 400;
  font-size: 117px;
  line-height: 120%;
  color: #8491A0;
}
.diplomas-item__title {
  margin-bottom: 5px;
  font-size: 24px;
}
.diplomas-item__title_green {
  color: #3CC74E;
}
.diplomas-item__title_violet {
  color: #5221E6;
}
.diplomas-item__title_pink {
  color: #E95D90;
}
.diplomas-item__descr {
  font-size: 18px;
}

.title {
  font-weight: 700;
  font-size: 55px;
  color: #FFFFFF;
  padding-top: 20px;
  margin-bottom: 10px;
}
.title_center {
  text-align: center;
}

.subtitle {
  font-weight: 700;
  font-size: 16px;
  color: #8491A0;
  text-transform: uppercase;
}

.skills {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}
.skills__hr {
  width: 267px;
  height: 5px;
  background-image: linear-gradient(112.37deg, #D24074 16.57%, #6518B4 78.29%);
  border: 0;
  margin: 0 auto;
  margin-bottom: 50px;
}
.skills__wrapper {
  padding: 20px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills__percent {
  position: absolute;
}
.skills__circle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.skills__percent {
  position: absolute;
  text-align: center;
  font-size: 60px;
  color: #FFFFFF;
}
.skills svg {
  position: relative;
}
.skills #first {
  fill: none;
  stroke: url(#progressPink);
  stroke-width: 30px;
  stroke-dasharray: 900;
  stroke-dashoffset: 57%;
  transform: rotate(-90deg);
  transform-origin: 200px 195px;
}
.skills #second {
  fill: none;
  stroke: url(#progressYellow);
  stroke-width: 30px;
  stroke-dasharray: 900;
  stroke-dashoffset: 111%;
  transform: rotate(-90deg);
  transform-origin: 200px 195px;
}
.skills #third {
  fill: none;
  stroke: url(#progressGreen);
  stroke-width: 30px;
  stroke-dasharray: 900;
  stroke-dashoffset: 75%;
  transform: rotate(-90deg);
  transform-origin: 200px 195px;
}
.skills .active {
  animation: progress 3s linear forwards;
}
.skills__subtitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.skills__descr {
  line-height: 150%;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  padding: 0 200px;
  gap: 50px;
}
.slider-item {
  box-sizing: border-box;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid #181823;
}
.slider-item img {
  display: block;
}

.slick-arrow img {
  width: 20px;
  height: 25px;
}
.slick-active:nth-child(7n) {
  width: 188px !important;
  border-right: 2px solid #181823;
}

.projects {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  padding: 120px 72px;
}
.projects__wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}