@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

body {
    background-color: #000;
    scroll-snap-type: y mandatory;
}
* {
    font-family: 'Sen', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.wrapper {
    position: relative;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

@import 'base/mixins.scss';
@import 'base/animation.scss';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/diplomas';
@import 'blocks/titles';
@import 'blocks/subtitles';
@import 'blocks/skills';


